extends layout

block content
  #content
    h1= 'If you can see this, something is broken (or JS is not enabled)!!.'
    p Welcome to #{title}
  script(type="text/javascript" src="dist/scripts/main.js")
